version: '2'
services:
  web:
    #image: pretix/standalone:stable
    build: ./pretix
    limit_mem: 1024m
    ports:
      - "8345:80"
    depends_on:
      - db
      - redis
    volumes:
      - ./etc/pretix:/etc/pretix
      - /var/pretix-data:/data
  db:
    image: postgres:latest
    limit_mem: 384m
    environment:
      - POSTGRES_PASSWORD={{ postgres_pw }}
    volumes:
      - /var/postgres-data:/var/lib/postgresql/data
  redis:
    image: redis:alpine
    limit_mem: 384m
